.cardContainer {
  display: grid;
  grid-template-columns: 1fr;
  width: 240px;
  margin: auto;
  /* border: 1px var(--text-variant) solid; */
  border-radius: 8px;
  padding: 1rem;
  /* box-shadow: 0px 0px 20px 5px var(--surface-elevated); */
  background-color: var(--text);
  color: var(--surface);
  text-align: center;
}

.iconContainer {
  margin: 1rem auto;
  padding: 1.3rem 1.2rem 1.3rem 1.3rem;
  background-color: var(--accent);
  color: var(--text);
  border-radius: 50%;
}

.iconContainer i {
  font-size: 1.777rem;
  margin: 0;
}

.cardContainer h5 {
  margin: 8px 0px 0px;
}
