.serviceContainer {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  max-width: 1600px;
  gap: 1rem;
  margin: auto;
  justify-content: center;
}

.tabsContainer {
  padding: 4rem 15%;
}
