.container {
  padding: 4rem 4rem 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.imageColumn {
  width: calc(100% - 8rem);
  height: calc(100% - 8rem);
  object-fit: cover;
  border-radius: 16px;
  margin: 4rem;
}

.textColumn {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  justify-content: center;
}

.textColumn h2 {
  margin-top: 0.5rem;
}

.textColumn ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  margin-bottom: 32px;
}

.textColumn ul li {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
.textColumn ul li::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Arbcom_ru_ready.svg/250px-Arbcom_ru_ready.svg.png);
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

@media screen and (max-width: 1500px) {
  .imageColumn {
    margin: 0;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 1150px) {
  .container {
    grid-template-columns: 1fr;
    height: fit-content;
    row-gap: 2rem;
  }
  .textColumn {
    text-align: left;
    justify-content: center;
    align-content: center;
    margin: auto;
  }
  .textColumn h2 {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 802px) {
  .textColumn h2 {
    text-align: center;
    font-size: 2.369rem;
  }
}
