.container {
  display: flex;
  flex-direction: row;
  border: 2px solid var(--primary-500);
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
  gap: 32px;
  box-shadow: 5px 5px 10px 6px rgb(from var(--primary-500) r g b / 0.7);
}
.tabsContainer {
  display: flex;
  flex-direction: column;
}
.tab {
  padding: 2rem;
  border: 1px solid var(--primary-900);
  border-top: none;
  border-left: none;
  font-size: 1.333rem;
  background-color: var(--primary-300);
  font-family: "Rambla";
  font-weight: 700;
}
.tab:last-child {
  border-bottom: none;
}
.tab:hover,
.tab:active,
.tab:focus {
  background-color: var(--primary-400);
}
.tab.activeTab {
  background-color: var(--accent-600);
  color: var(--text-50);
}
.tab.activeTab:hover,
.tab.activeTab.active,
.tab.activeTab.focus {
  background-color: var(--accent-700);
}
