.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4rem 0;
}

.ratingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stars {
  color: #facc15;
  font-size: 48px;
  letter-spacing: 0.25rem;
  -webkit-text-stroke: 1px var(--primary-950);
}

.rating {
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-top: 0.25rem;
}

.subRating {
  margin-top: 0;
}
