.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-shadow: inset 0 8px 6px -5px rgba(0, 0, 0);
  background-color: var(--secondary-900);
  text-align: center;
  padding: 0 0 4rem;
  color: var(--text-50);
}

.header {
  margin-bottom: 1rem;
  padding-inline: 2rem;
}

.subText {
  margin-top: 0px;
  max-width: 500px;
  margin: auto;
}

@media screen and (max-width: 720px) {
  .subText {
    max-width: 80%;
  }
}
