.hero {
  width: 100%;
  max-height: 90vh;
  object-fit: cover;
  object-position: 50% 70%;
}

.heroOverlay {
  position: relative;
  top: -150px;
  background-color: rgba(var(--surface-rgb), 0.7);
  width: 40%;
  height: fit-content;
  padding: 1rem;
  margin: auto;
}
