.textVariant {
  color: var(--text-variant);
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: none;
  background-color: var(--surface-elevated);
}

.footbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: none;
  background-color: var(--surface-elevated);
  padding: 0 10%;
}

a {
  color: var(--text);
}

.logoColumn {
  display: flex;
  flex-direction: column;
}

.logoColumn > .logoContainer {
  margin: auto 0;
}

.logoContainer {
  display: flex;
  width: fit-content;
  margin: auto;
  align-items: center;
  padding: 1rem 0;
  justify-content: center;
}

.logo {
  max-width: 100%;
  max-height: 60px;
  margin: auto;
}

.links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.links li {
  align-content: center;
}
.links li * {
  text-decoration: none;
}
.links li a.active {
  color: var(--primary);
}
.links li a:hover,
.links li a:focus,
.links li a:active {
  color: var(--secondary);
}

.callBtn {
  border: none;
  border-radius: 1rem;
}

i {
  margin-right: 1rem;
}

.pTight {
  margin: 0 1rem 1rem;
}
