.navbar {
  background-color: var(--surface-elevated);
}

.navbarInner {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 50%;
}

.footbar {
  padding: 2rem 0 0;
  background-color: var(--surface-elevated);
}

.footbar * li,
.footbar * a {
  color: var(--text-variant);
}

.footbarInner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: 45%;
}

a {
  color: var(--text);
}

.logoContainer {
  display: flex;
  width: fit-content;
  margin: auto;
  align-items: center;
  padding: 1rem;
  justify-content: center;
}

.logoContainerFooter {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.logo {
  max-width: 100%;
  max-height: 60px;
  margin: auto;
}

.links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.links li {
  align-content: center;
}
.links li * {
  text-decoration: none;
}
.navbar * .links li a.active {
  color: var(--primary);
}
.navbar * .links li a:hover,
.navbar * .links li a:focus,
.navbar * .links li a:active {
  color: var(--secondary);
}

.linksVert {
  flex-direction: column;
  margin: 0 auto;
}
.linksVert * {
  margin: 0.5rem 0 0;
}

.callBtn {
  border: none;
  border-radius: 1rem;
  text-decoration: none;
}

i {
  margin-right: 1rem;
}

.copywrite {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 2rem;
  border-top: 1px var(--text-variant) solid;
  max-width: 45%;
  margin: 2rem auto;
}

.socials * a {
  color: var(--text);
  background-color: var(--surface-elevated-2);
  width: fit-content;
  border-radius: 50%;
  aspect-ratio: 1;
  margin-right: 1rem;
}

.socials * a:hover,
.socials * a:focus,
.socials * a:active {
  transform: scale(1.2);
  opacity: 0.7;
}

.socials * a i {
  margin: auto;
  padding: 8px 8px 8px 6px;
}

.socialsInner {
  display: flex;
}

.noMargin {
  margin: 0;
}
