.serviceContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 4rem;
  margin: auto;
  column-gap: 16px;
  background-color: var(--text);
}

.cta {
  background-color: var(--accent);
  color: var(--text);
  padding: 1rem;
  width: fit-content;
  border-radius: 8px;
}
