.container {
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  height: calc(50vh + 8rem);
}

.imageColumn {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 930px) {
  .container {
    grid-template-columns: 1fr;
    height: fit-content;
  }
  .textColumn {
    text-align: center;
  }
}
