.serviceContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 4rem 4rem 2rem;
  margin: auto;
  column-gap: 16px;
}

.linkContainer {
  display: flex;
  padding: 0 0 2rem;
  margin: auto;
  justify-content: center;
}

.cta {
  padding: 1rem;
  width: fit-content;
  border-radius: 8px;
}

@media screen and (min-width: 988px) and (max-width: 1278px) {
  .serviceContainer > :nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 987px) {
  .serviceContainer {
    justify-content: center;
    gap: 16px;
  }
}

@media screen and (max-width: 500px) {
  .serviceContainer {
    padding: 2rem 4rem;
  }
}
