.container {
  padding: 4rem 0;
  margin: auto;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-700);
}
.container * {
  margin: auto;
}
.container h4 {
  margin-top: 0;
}

.container p {
  padding-bottom: 2rem;
}

@media (max-width: 1000px) {
  .container p {
    max-width: 560px;
    margin: auto;
  }
}
