@import url("https://fonts.googleapis.com/css?family=Rambla:700|Heebo:400");

:root {
  font-family: "Heebo";
  font-size: 100%;
  color: var(--text);
  background-color: var(--surface);

  --text: #f6f7f9;
  --text-variant: #999a9b;
  --surface: rgb(3, 4, 7);
  --surface-rgb: 3, 4, 7;
  --surface-elevated: rgb(17, 23, 39);
  --surface-elevated-2: rgb(27, 37, 63);
  --primary: #7b9ed4;
  --primary-variant: #373d47;
  --secondary: #ff0000;
  --secondary-variant: #bb0202;
  --accent: #0a42b2;
  --accent-variant: #2e55a1;
  --swiper-navigation-color: var(--text);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Rambla";
  font-weight: 700;
}

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

button {
  font-size: 100%;
}

.fa-solid {
  background-color: transparent;
  font-size: 1.333rem;
}
