@import url("https://fonts.googleapis.com/css?family=Rambla:700|Heebo:400");

@media (prefers-color-scheme: light) {
  :root {
    --text: #060709;
    --background: #f8f9fc;
    --primary: #7a8699;
    --secondary: #ff0000;
    --accent: #4d85f5;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #f6f7f9;
    --background: #030407;
    --primary: #667285;
    --secondary: #ff0000;
    --accent: #0a42b2;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Rambla";
  font-weight: 700;
}

html,
* {
  font-size: 100%;
  color: var(--text);
  background-color: var(--background);
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

button.cta {
  background-color: var(--accent);
  color: var(--text);
  padding: 1rem;
}
