@import url("https://fonts.googleapis.com/css?family=Rambla:700|Heebo:400");

:root {
  font-family: "Heebo";
  font-size: 100%;
  color: var(--text);
  background-color: var(--surface);
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #060709;
    --text-variant: #272d3a;
    --surface: #f8f9fc;
    --surface-elevated: #d7d7da;
    --primary: #7a8699;
    --secondary: #ff0000;
    --secondary-variant: #bd0202;
    --accent: #4d85f5;
    --accent-variant: #2f71f5;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #f6f7f9;
    --text-variant: #999a9b;
    --surface: #030407;
    --surface-elevated: #111727;
    --primary: #7b9ed4;
    --primary-variant: #373d47;
    --secondary: #ff0000;
    --secondary-variant: #bb0202;
    --accent: #0a42b2;
    --accent-variant: #2e55a1;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Rambla";
  font-weight: 700;
}

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

button {
  font-size: 100%;
}

button.cta {
  background-color: var(--accent);
  color: var(--text);
  padding: 1rem;
}

button.cta:hover,
button.cta:active,
button.cta:focus {
  background-color: var(--accent-variant);
}

.fa-solid {
  background-color: transparent;
  font-size: 1.333rem;
}
